*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	margin: 1em;
	background-color: $clr-bg-dark;
	color: $clr-text;
	line-height: 1.5;
	font-family: sans-serif;

	@media screen and (min-width: 800px) {
		margin: 0;
	}
}
