header {
	display: flex;
	align-items: center;
	margin: 2em 0;

	@media screen and (min-width: 800px) {
		grid-column: 2 / 5;
	}

	.nav {
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		&__link {
			color: $clr-text;
			text-transform: capitalize;
			text-decoration: none;

			&:hover {
				color: $clr-accent;
			}
		}
	}
}

.main-grid {
	@media screen and (min-width: 800px) {
		display: grid;
		grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(10rem, 30rem)) minmax(1em, 1fr);
		gap: 2em;
	}
}
