$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';
// @import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'config';

@import 'header';
@import 'main';
@import 'footer';
